@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg: #edeef3;
  --main-text: rgb(51 65 85);
  --clr-primary-400: hsla(257, 40%, 49%);
  --clr-primary-400-hsl: 300, 100%, 25%;
  --clr-primary-300: hsl(300, 69%, 71%);
  --clr-nuetral-100: hsla(0, 100%, 100%, 0.95);
  --ff-primary: "Poppins", sans-serif;
}

/* CSS Reset */

/* makes sure padding and borders are calculated in the size of an element */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing and force children to inherit the font of their parents by default */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* adds hanging punctuation when its the first or last character in text, currently not supported in Chrome as of 2024 */

html {
  hanging-punctuation: first last;
}

/* body should take at least the full height of the viewport */

body {
  min-height: 100svh;
  /* svh assumes theres a address bar open on mobile and prevents layout shift when it disappears */
}

/* responsive images/videos */

img,
video,
svg,
picture {
  display: block;
  /* images/videos should be on their own line */
  max-width: 100%;
  /* width of images and videos should be at most be 100% of their container */
}

/* Make long headings display evenly across multiple lines by default */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Gets rid of text orphans and limits text line length by default */

p {
  max-inline-size: 75ch;
  /* similar to max-width except its a logical property, so it can adjust to different writing mode directions */
  text-wrap: pretty;
}

/* eliminates scroll snap behavior when the user prefers reduced motion and adds some space above the section being scrolled to  */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    /* personal peference on how much space (usually 3-5 rem) */
  }
}

/* Utility classes */
/* .grid {
  display: grid;
}

.gap-4 {
  gap: 1rem;
} */

/* General Styles */

body {
  font-family: var(--ff-primary);
  background-color: var(--main-bg);
  color: var(--main-text);
  min-height: 100svh;
}

/* .login {
  display: grid;
  place-content: center;
  gap: 5rem;
  width: min(100% - 3rem, 70rem);
  margin-inline: auto;
}

@media (min-width: 60em) {
  .login {
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
  }
}

form {
  max-width: 30rem;
}

.login__img {
  scale: 2.2;
  pointer-events: none;
  margin-top: 5rem;
}

.login__btn {
  background-color: hsl(var(--clr-primary-400-hsl), 0.5);
  color: var(--clr-nuetral-100);
  border-radius: 100vmax;
  padding: 0.65rem;
}

.login__cac {
  text-decoration: underline;
}

.login__form {
  text-align: center;
  display: grid;
  gap: 2.5rem;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.login__input {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  outline: none;
  border: none;
}

.login__btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.register__form {
  text-align: center;
  display: grid;
  gap: 2.5rem;
}

.error {
  margin-top: 1rem;
  color: #ff0033;
}

.error-box {
  display: none;
  align-items: center;
  gap: 0.5rem;
  color: #ff0033;
  margin-inline: auto;
}

.fa-circle-exclamation {
  margin-top: 15px;
} */

/* New Login */

.login {
  color: var(--clr-nuetral-100);
  background-color: var(--clr-primary-400);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  padding: 1rem;
}

.two-columns {
  display: grid;
  gap: 1rem;
  place-content: center;
  min-height: 100vh;
}

@media (min-width: 64em) {
  .two-columns {
    grid-template-columns: minmax(2em, 1fr) minmax(0, 35rem) minmax(0, 35rem) minmax(2em, 1fr);
    gap: 5rem;
  }
  .two-columns > *:first-child {
    grid-column: 2 / span 1;
  }
  .two-columns > *:last-child {
    grid-column: 3 / span 1;
  }
}

.auth__form {
  display: grid;
  gap: 2rem;
}

.auth__form > div {
  display: grid;
  place-items: start;
}

.auth__form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
}
input:focus {
  outline: 1px solid var(--clr-primary-300);
}

.auth__submit {
  width: 100%;
  border-radius: 5px;
  background-color: var(--clr-primary-300);
  color: var(--clr-nuetral-100);
  border: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 2.5rem;
}
.auth__submit:hover {
  filter: brightness(0.75);
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.error {
  color: #ffcccb;
}

.error-box {
  display: none;
  align-items: center;
  gap: 0.5rem;
  color: #ffcccb;
  margin-inline: auto;
  margin-top: 1.5rem;
}

.register {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: var(--clr-nuetral-100);
}
a:hover {
  text-decoration: none;
}

.input-box {
  position: relative;
  width: 100%;
}

.fa-user,
.fa-lock {
  position: absolute;
  left: 1rem;
  top: 58%;
  transform: translate(-50%, -50%);
  color: var(--clr-primary-400);
}

.login__input {
  padding-left: 1.8rem;
}
